$logo__title_font-size-xxs: 20px;
$logo__title_font-size-xs: 25px;
$logo__title_font-size-sm: 30px;
$logo__title_font-size-md: 35px;
$logo__title_font-size-lg: 40px;
$logo__title_font-size-xl: 45px;

$logo__image_width-xxs: 45px;
$logo__image_width-xs: 55px;
$logo__image_width-sm: 65px;
$logo__image_width-md: 75px;
$logo__image_width-lg: 85px;
$logo__image_width-xl: 105px;

$carousel_width-xs: 85%;
$carousel_width-sm: 80%;
$carousel_width-md: 65%;
$carousel_width-lg: 60%;
$carousel_width-xl: 50%;

$select__component_width-xxs: 230px;
$select__component_width-xs: 240px;
$select__component_width-sm: 250px;
$select__component_width-md: 260px;
$select__component_width-lg: 300px;
$select__component_width-xl: 330px;

$select__component_font-size-xs: 11px;
$select__component_font-size-sm: 12px;
$select__component_font-size-md: 13px;
$select__component_font-size-lg: 16px;
$select__component_font-size-xl: 18px;

$searchbox__search_width-xxs: 230px;
$searchbox__search_width-xs: 240px;
$searchbox__search_width-sm: 250px;
$searchbox__search_width-md: 260px;
$searchbox__search_width-lg: 300px;
$searchbox__search_width-xl: 330px;

$searchbox__search_font-size-xs: 11px;
$searchbox__search_font-size-sm: 12px;
$searchbox__search_font-size-md: 13px;
$searchbox__search_font-size-lg: 16px;
$searchbox__search_font-size-xl: 18px;

$swal-text_font-size-sm: 14px;
$swal-text_font-size-md: 17px;
$swal-text_font-size-lg: 19px;
$swal-text_font-size-xl: 21px;

$pagination_font-size-xs: 11px;
$pagination_font-size-sm: 12px;
$pagination_font-size-md: 13px;
$pagination_font-size-lg: 16px;
$pagination_font-size-xl: 18px;

$card_headtitle_font-size: 16px;
$card_headtitle_font-size-lg: 19px;
$card_headtitle_font-size-xl: 21px;

$card_title_font-size-xs: 14px;
$card_title_font-size-sm: 15px;
$card_title_font-size-md: 16px;
$card_title_font-size-lg: 18px;
$card_title_font-size-xl: 20px;

$card_abilities_font-size-xs: 12px;
$card_abilities_font-size-sm: 13px;
$card_abilities_font-size-md: 14px;
$card_abilities_font-size-lg: 17px;
$card_abilities_font-size-xl: 19px;

$card_tag_font-size: 12px;
$card_tag_font-size-lg: 14px;
$card_tag_font-size-xl: 15px;

$card__image_width-lg-xl: 250px;

$footer__text_font-size: 12px;
$footer__text_font-size-md: 13px;
$footer__text_font-size-lg: 14px;
$footer__text_font-size-xl: 16px;

$footer__note_font-size: 10px;
$footer__note_font-size-md: 11px;
$footer__note_font-size-lg: 12px;
$footer__note_font-size-xl: 14px;

$footer__icon_font-size: 40px;
$footer__icon_font-size-md: 45px;
$footer__icon_font-size-lg: 50px;
$footer__icon_font-size-xl: 55px;